schema/DATEXII_3_Common.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:com="http://datex2.eu/schema/3/common" version="3.0" targetNamespace="http://datex2.eu/schema/3/common" xmlns:dgt="http://datex2.eu/schema/3/dangerousGoodsTransport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/dangerousGoodsTransport" schemaLocation="DATEXII_3_DangerousGoodsTransport.xsd" />
  <xs:complexType name="_DangerousGoodsRegulationsEnum">
    <xs:simpleContent>
      <xs:extension base="com:DangerousGoodsRegulationsEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ExtensionType">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_VehicleExtensionType">
    <xs:sequence>
      <xs:element name="vehicleExtension" type="dgt:VehicleExtension" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_VehicleStatusEnum">
    <xs:simpleContent>
      <xs:extension base="com:VehicleStatusEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AngleInDegrees">
    <xs:annotation>
      <xs:documentation>An integer number representing an angle in whole degrees between 0 and 359.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:NonNegativeInteger">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="359" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AxleSpacing">
    <xs:annotation>
      <xs:documentation>The spacing details between the axle sets of an individual vehicle numbered from the front to the back of the vehicle. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="axleSpacing" type="com:MetresAsFloat" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The spacing interval, indicated by the axleSpacingSequenceIdentifier, between the axles of an individual vehicle from front to back of the vehicle. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="axleSpacingSequenceIdentifier" type="com:NonNegativeInteger" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates the sequence number of the interval between the axles of the individual vehicle from front to back (e.g. 1, 2, 3...). This cannot exceed (numberOfAxles -1) if the numberOfAxles is also given as part of the VehicleCharacteristics.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_axleSpacingExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxleWeight">
    <xs:annotation>
      <xs:documentation>The weight details of a specific axle on the vehicle. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="axlePositionIdentifier" type="com:NonNegativeInteger" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates the position of the axle on the vehicle numbered from front to back (i.e. 1, 2, 3...). This cannot exceed the numberOfAxles if provided as part of VehicleCharacteristics.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="axleWeight" type="com:Tonnes" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The weight of the specific axle, indicated by the axleSequenceIdentifier, on the vehicle numbered from front to back of the vehicle. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maximumPermittedAxleWeight" type="com:Tonnes" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The maximum permitted weight of this specific axle on the vehicle.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_axleWeightExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Boolean">
    <xs:annotation>
      <xs:documentation>Boolean has the value space required to support the mathematical concept of binary-valued logic: {true, false}. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>
  <xs:simpleType name="CountryCode">
    <xs:annotation>
      <xs:documentation>EN ISO 3166-1 alpha-2 two-letter country code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:String">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CubicMetres">
    <xs:annotation>
      <xs:documentation>A volumetric measure defined in cubic metres.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:simpleType name="DangerousGoodsRegulationsEnum">
    <xs:annotation>
      <xs:documentation>Types of dangerous goods regulations.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="adr">
        <xs:annotation>
          <xs:documentation>European agreement on the international carriage of dangerous goods on road.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iataIcao">
        <xs:annotation>
          <xs:documentation>Regulations covering the international transportation of dangerous goods issued by the International Air Transport Association and the International Civil Aviation Organisation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="imoImdg">
        <xs:annotation>
          <xs:documentation>Regulations regarding the transportation of dangerous goods on ocean-going vessels issued by the International Maritime Organisation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="railroadDangerousGoodsBook">
        <xs:annotation>
          <xs:documentation>International regulations concerning the international carriage of dangerous goods by rail.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DataValue" abstract="true">
    <xs:annotation>
      <xs:documentation>A data value of something that can be measured or calculated. Any provided meta-data values specified in the attributes override any specified generic characteristics such as defined for a specific measurement in the MeasurementSiteTable. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_dataValueExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Date">
    <xs:annotation>
      <xs:documentation>A combination of year, month and day integer-valued properties plus an optional timezone property. It represents an interval of exactly one day, beginning on the first moment of the day in the timezone, i.e. '00:00:00' up to but not including '24:00:00'.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:simpleType name="DateTime">
    <xs:annotation>
      <xs:documentation>A combination of integer-valued year, month, day, hour, minute properties, a decimal-valued second property and a time zone property from which it is possible to determine the local time, the equivalent UTC time and the time zone offset from UTC.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="Float">
    <xs:annotation>
      <xs:documentation>A floating point number whose value space consists of the values m × 2^e, where m is an integer whose absolute value is less than 2^24, and e is an integer between -149 and 104, inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:float" />
  </xs:simpleType>
  <xs:complexType name="HazardousMaterials">
    <xs:annotation>
      <xs:documentation>Details of hazardous materials.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="chemicalName" type="com:MultilingualString" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The chemical name of the hazardous substance carried by the vehicle.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dangerousGoodsFlashPoint" type="com:TemperatureCelsius" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The temperature at which the vapour from a hazardous substance will ignite in air.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dangerousGoodsRegulations" type="com:_DangerousGoodsRegulationsEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The code defining the regulations, international or national, applicable for a means of transport.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hazardCodeIdentification" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The dangerous goods description code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hazardCodeVersionNumber" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The version/revision number of date of issuance of the hazardous material code used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hazardSubstanceItemPageNumber" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A number giving additional hazard code classification of a goods item within the applicable dangerous goods regulation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tremCardNumber" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The identification of a transport emergency card giving advice for emergency actions.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="undgNumber" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A unique serial number assigned within the United Nations to substances and articles contained in a list of the dangerous goods most commonly carried.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="volumeOfDangerousGoods" type="com:CubicMetres" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The volume of dangerous goods on the vehicle(s) reported in a traffic/travel situation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="weightOfDangerousGoods" type="com:Tonnes" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The weight of dangerous goods on the vehicle(s) reported in a traffic/travel situation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_hazardousMaterialsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Integer">
    <xs:annotation>
      <xs:documentation>An integer number whose value space is the set {-2147483648, -2147483647, -2147483646, ..., -2, -1, 0, 1, 2, ..., 2147483645, 2147483646, 2147483647}.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
  <xs:complexType name="InternationalIdentifier">
    <xs:annotation>
      <xs:documentation>An identifier/name whose range is specific to the particular country.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="country" type="com:CountryCode" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>EN ISO 3166-1 two-character country code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nationalIdentifier" type="com:String" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifier or name unique within the specified country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_internationalIdentifierExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="KilometresPerHour">
    <xs:annotation>
      <xs:documentation>A measure of speed defined in kilometres per hour.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:simpleType name="Language">
    <xs:annotation>
      <xs:documentation>A language datatype, identifies a specified language by an ISO 639-1 2-alpha code.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:language" />
  </xs:simpleType>
  <xs:simpleType name="MetresAsFloat">
    <xs:annotation>
      <xs:documentation>A measure of distance defined in metres in a floating point format.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:complexType name="MultilingualString">
    <xs:sequence>
      <xs:element name="values">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" type="com:MultilingualStringValue" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MultilingualStringValue">
    <xs:simpleContent>
      <xs:extension base="com:MultilingualStringValueType">
        <xs:attribute name="lang" type="xs:language" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MultilingualStringValueType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NonNegativeInteger">
    <xs:annotation>
      <xs:documentation>An integer number whose value space is the set {0, 1, 2, ..., 2147483645, 2147483646, 2147483647}.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger" />
  </xs:simpleType>
  <xs:complexType name="PayloadPublication" abstract="true">
    <xs:annotation>
      <xs:documentation>A payload publication of traffic related information or associated management information created at a specific point in time that can be exchanged via a DATEX II interface.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="feedDescription" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A description of the information which is to be found in the publications originating from the particular feed (URL).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="feedType" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A classification of the information which is to be found in the publications originating from the particular feed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicationTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Date/time at which the payload publication was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicationCreator" type="com:InternationalIdentifier" />
      <xs:element name="_payloadPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="lang" type="com:Language" use="required">
      <xs:annotation>
        <xs:documentation>The default language used throughout the payload publication.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="modelBaseVersion" type="xs:string" use="required" fixed="3" />
    <xs:attribute name="extensionName" type="xs:string" use="optional" />
    <xs:attribute name="extensionVersion" type="xs:string" use="optional" />
    <xs:attribute name="profileName" type="xs:string" use="optional" />
    <xs:attribute name="profileVersion" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:simpleType name="Percentage">
    <xs:annotation>
      <xs:documentation>A measure of percentage.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:complexType name="Reference">
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="SpeedValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of speed.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="speed" type="com:KilometresPerHour" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A value of speed expressed in kilometres per hour.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_speedValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="String">
    <xs:annotation>
      <xs:documentation>A character string whose value space is the set of finite-length sequences of characters. Every character has a corresponding Universal Character Set code point (as defined in ISO/IEC 10646), which is an integer.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TemperatureCelsius">
    <xs:annotation>
      <xs:documentation>A measure of temperature defined in degrees Celsius.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:simpleType name="Tonnes">
    <xs:annotation>
      <xs:documentation>A measure of weight defined in metric tonnes.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:simpleType name="Url">
    <xs:annotation>
      <xs:documentation>A Uniform Resource Locator (URL) address comprising a compact string of characters for a resource available on the Internet.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="Vehicle">
    <xs:annotation>
      <xs:documentation>Details of an individual vehicle.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="anonymizedVehicleReference" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A reference for a vehicle derived from vehicle properties such as registration number but encoded so that it does not allow a human to identify the vehicle directly from the encoded value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicleColour" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The colour of the vehicle.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicleCountryOfOrigin" type="com:CountryCode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specification of the country in which the vehicle is registered. The code is the 2-alpha code as given in EN ISO 3166-1 which is updated by the ISO 3166 Maintenance Agency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicleIdentifier" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A vehicle identification number (VIN) comprising 17 characters that is based on either ISO 3779 or ISO 3780 and uniquely identifies the individual vehicle. This is normally securely attached to the vehicle chassis.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicleManufacturer" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates the stated manufacturer of the vehicle, e.g. Ford.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicleModel" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates the model (or range name) of the vehicle, e.g. Mondeo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicleRegistrationPlateIdentifier" type="com:String" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>An identifier or code displayed on a vehicle registration plate attached to the vehicle used for official identification purposes. The registration identifier is numeric or alphanumeric and is unique within the issuing authority's region.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vehicleStatus" type="com:_VehicleStatusEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Vehicle status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="axleSpacingOnVehicle" type="com:AxleSpacing" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The spacing between axles on the vehicles.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specificAxleWeight" type="com:AxleWeight" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The weight details relating to a specific axle on the vehicle.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hazardousGoodsAssociatedWithVehicle" type="com:HazardousMaterials" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Details of hazardous goods carried by the vehicle.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_vehicleExtension" type="com:_VehicleExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="VehicleStatusEnum">
    <xs:annotation>
      <xs:documentation>The status of a vehicle.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="abandoned">
        <xs:annotation>
          <xs:documentation>Abandoned vehicle.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="brokenDown">
        <xs:annotation>
          <xs:documentation>Broken down vehicle (i.e. it is immobile due to mechanical breakdown).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="burntOut">
        <xs:annotation>
          <xs:documentation>Burnt out vehicle, but fire is extinguished.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="damaged">
        <xs:annotation>
          <xs:documentation>Vehicle is damaged following an incident or collision. It may be able or not to move by itself.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="damagedAndImmobilized">
        <xs:annotation>
          <xs:documentation>Vehicle is damaged following an incident or collision. It is immobilized and therefore needs assistance to be moved.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inDitch">
        <xs:annotation>
          <xs:documentation>Vehicle has left roadway and ended in a ditch next to the roadway</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="jacknifed">
        <xs:annotation>
          <xs:documentation>The pulling vehicle is in a jackknifed position with its trailer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="offRoad">
        <xs:annotation>
          <xs:documentation>Vehicle has left the carriageway</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="onFire">
        <xs:annotation>
          <xs:documentation>Vehicle is on fire.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="onTopOfCrashBarrier">
        <xs:annotation>
          <xs:documentation>Vehicle is on top of the crash barrier, and cannot leave that position autonomously</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="onWheels">
        <xs:annotation>
          <xs:documentation>Vehicle is in its upright position after the accident. No special lifting equipment is needed to put it on its wheels</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="overturned">
        <xs:annotation>
          <xs:documentation>Vehicle is on its side or upside down</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rollable">
        <xs:annotation>
          <xs:documentation>The vehicle can be rolled on its own wheels. There is no special equipment needed to lift the vehicle, because of blocked wheels or other mechanical problems.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="spunAround">
        <xs:annotation>
          <xs:documentation>Vehicle has come to rest not facing its intended line of travel.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VersionedReference">
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="optional" />
  </xs:complexType>
</xs:schema>